<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.main.juanpiprogram" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application
        android:name=".sf.utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--SMS-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".sf.activity.SearchGoodsActivity"
            android:theme="@style/AppThemeSwipe.Transparent"
            >
        </activity>
        <activity android:name=".sf.activity.PersonCenterActivity"
            android:theme="@style/AppThemeSwipe.Transparent"
            >
        </activity>
        <activity android:name=".sf.activity.AboutJuanpiActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.CallCenterActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.FuzhuangActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.JiajuActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MuyingActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MeishiActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MeizhuangActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.NoPayActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.LogisticActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.AllOrderActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyCollectActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyCouponActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.ScanRecordActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyIntegralActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyafterserviceActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.LoginActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.RegisterActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
    </application>

</manifest>
