<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.main.juanpiprogram" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 支付宝的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".sf.utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--SMS-->


        <activity android:name=".sf.activity.SearchGoodsActivity"
            android:theme="@style/AppThemeSwipe.Transparent"
            >
        </activity>
        <activity android:name=".sf.activity.PersonCenterActivity"
            android:theme="@style/AppThemeSwipe.Transparent"
            >
        </activity>
        <activity android:name=".sf.activity.AboutJuanpiActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.CallCenterActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.FuzhuangActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.JiajuActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MuyingActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MeishiActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MeizhuangActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.NoPayActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.LogisticActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.AllOrderActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyCollectActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyCouponActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.ScanRecordActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyIntegralActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.MyafterserviceActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.LoginActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity android:name=".sf.activity.RegisterActivity"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>





        <activity
            android:name=".sf.activity.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            >
        </activity>
        <activity
            android:name=".sf.activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>

        <!--<activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sf.activity.BagActivity"
            android:label="@string/title_activity_bag"

            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity
            android:name=".sf.activity.QualityActivity"
            android:label="@string/title_activity_quality"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
        <activity
            android:name=".sf.activity.PayActivity"
            android:label="@string/title_activity_pay"
            android:theme="@style/AppThemeSwipe.Transparent"
            >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name=".sf.activity.AddressActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/AppThemeSwipe.Transparent">
        </activity>
    </application>

</manifest>
